.container {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	max-width: 1440px;
	margin: 0 auto;
}

.wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.title {
	font-weight: bold;
	color: var(--text);
	font-size: 17px;
}

.description {
	color: var(--second-text);
	text-align: left;
	font-size: 14px;
	font-weight: 500;
}

.imageWrapper {
	border-radius: 28px;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
		border-radius: 28px;
	}
}

.card {
	background-color: var(--tab-bg);
	border-radius: 28px;
	padding: 24px;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 16px;

	&:nth-child(4) {
		grid-row: span 2;
	}

	&:nth-child(5) {
		grid-column: span 2;
		grid-row: span 1;
	}
}

.titleAndDescription {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.featuresGrid {
	padding: 24px;
}

.title {
	text-align: left;
}

.titleAndDescription {
	flex: 1;
}

.imageWrapper {
	flex: none;
	width: auto;
}

.specialCard {
	display: flex;
	flex-direction: row;
	align-items: start;
	text-align: left;
}

@media (max-width: 1150px) {
	.card:nth-child(6) {
		grid-column: span 2;
	}
}

@media (max-width: 897px) {
	.card:nth-child(5) {
		grid-column: span 1;
		grid-row: span 2;
		flex-direction: column;
		justify-content: space-between;
	}

	.card:nth-child(6) {
		grid-column: span 1;
	}
}

@media (max-width: 500px) {
	.container {
		grid-template-columns: 1fr;
	}
}
