
.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 6px;
  max-width: 100%;
  word-break: break-word;
  position: relative;
  z-index: 1;
}