.calorieCircle {
	background: var(--white-02);
	border-radius: 50px;
	padding: 16px;
	width: 100%;
	max-width: 250px;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	:global(.light-theme) & {
		background: #e8e8e8 !important;
		/* Lighter gray background */
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
	}
}

.calorieTitle {
	font-weight: 600;
	color: var(--orange);
	font-size: 20px;
	text-align: center;
	margin-bottom: 12px;
	white-space: nowrap;
}

.progressBarWrapper {
	position: relative;
	width: 100%;
	max-width: 180px;
	aspect-ratio: 1 / 1;
}

.progressBar,
.MealPlanProgressBar {
	width: 100% !important;
	height: 100% !important;
}

.calorieTextIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.calorieText {
	font-weight: 600;
	font-size: 16px;
	color: var(--text-color);
}

.calorieIcon {
	width: 24px;
	height: 24px;
}

@media (max-width: 768px) {
	.calorieCircle {
		max-width: 200px;
		padding: 12px;
	}

	.calorieTitle {
		font-size: 18px;
	}

	.calorieText {
		font-size: 14px;
	}

	.progressBarWrapper {
		max-width: 140px;
	}
}

@media (max-width: 480px) {
	.calorieCircle {
		padding: 10px;
	}

	.calorieTitle {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.calorieText {
		font-size: 12px;
	}

	.calorieIcon {
		width: 20px;
		height: 20px;
	}
}