.calorieCircle {
	position: relative;
	background: var(--input-bg);
	border-radius: 50px;
	z-index: 1200;
	width: 260px;
	height: 260px;
	padding: 20px 50px 50px;

	:global(.light-theme) & {
		background: #e8e8e8 !important;
		/* Lighter gray background */
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
	}
}

.calorieTitle {
	font-weight: 600;
	color: var(--orange);
	font-size: 20px;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 20px;
	white-space: nowrap;
}

.calorieTextIcon {
	position: absolute;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 58%;
	left: 50%;
}

.calorieText {
	font-weight: 600;
	font-size: 17px;
	margin-top: 10px;
}

@media (max-width: 500px) {
	.calorieCircle {
		width: 100%;
		height: 266px;
	}

	.progressBar {
		display: flex;
		vertical-align: middle;
		justify-content: center;
		align-content: center;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 44%;
	}
}

@media (max-width: 400px) {
	.calorieCircle {
		height: 256px;
	}
}