.chatItem {
	cursor: pointer;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
	background: var(--white-01);
	transition: 0.4s;
	position: relative;
	overflow: hidden;
	z-index: 0;
	max-width: 100%;
	width: 305px;
	height: 64px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, var(--light-06-bg), transparent);
		transition: 0.4s ease-in-out;
		z-index: -1;
	}

	&:hover::before {
		left: 0;
	}
}

.chatItem.active {
	&::before {
		left: 0;
	}
}

.chatItem > div:first-child {
	flex: 1;
	overflow: hidden;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.lightChatItem {
	background: var(--light-06-bg) !important;
}

.chatName {
	font-weight: 600;
	font-size: 17px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@media (max-width: 1300px) {
		font-size: 14px;
	}

	@media (max-width: 500px) {
		font-size: 13px;
	}
}

.iconContainer {
	display: flex;
	gap: 5px;
	align-items: center;
	flex-shrink: 0;
	animation: fadeIn 0.3s ease-in-out;
}

.chatItemIcon {
	pointer-events: all;
	transition: 0.3s ease-in-out;

	&:hover {
		scale: 1.1;
	}
}

@media(max-width: 1045px) {
	.chatItem {
		width: 100%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
