.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100svh;
	overflow: hidden;
}

.shoppingTitle {
	display: flex;
	justify-content: center;
    align-items: center;
	font-weight: 700;
	font-size: 20px;
}