.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  @media (max-width: 900px) {
    margin-top: 0;
  }
}