.message {
	background: var(--message-bg);
	border-radius: 30px;
	padding: 15px;
	font-weight: 500;
	max-width: 85%;
	animation: fadeInUp 0.5s ease-in-out;
}

.leftMessageCollapsed {
	margin-left: 0;
	transition: 0.1s ease;
}

.favorableMessage {
	padding-bottom: 0 !important;
}

.message.leftMessageWithPanel {
	padding-bottom: 0;
}

.rightMessage {
	align-self: flex-end;
	width: auto;
	transition: 0.1s ease;
}

.text {
	font-weight: 500;
	overflow-wrap: break-word;
	word-break: break-word;
	white-space: normal;

	p {
		font-weight: 500;
		overflow-wrap: break-word;
		word-break: break-word;
	}
}

.leftMessagePanel {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	padding: 5px;
	border-radius: 30px;
	background: var(--dark-14-bg);
	transition: 0.5s ease;
	margin: 10px -15px 0 -15px;

	&.hiddenWhileRenaming {
		z-index: -1;
	}
}

.lightLeftMessagePanel {
	background: rgba(0, 0, 0, 0.05);
}

.leftMessagePanelButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	padding: 10px;
	background: none;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.fullPanelButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: none;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.leftMessage {
	padding: 15px;
	transition: 0.1s ease;
}

.rightMessageCollapsed {
	transition: 0.1s ease;
}

.firstButton img,
.secondButton img {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

.loadingDots {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 3px;
	font-size: 24px;
	color: var(--second-text);
}

.loadingDots span {
	animation: blink 1.4s infinite both;
}

.loadingDots span:nth-child(1) {
	animation-delay: 0s;
}

.loadingDots span:nth-child(2) {
	animation-delay: 0.2s;
}

.loadingDots span:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes blink {
	0% {
		opacity: 0.2;
	}

	20% {
		opacity: 1;
	}

	100% {
		opacity: 0.2;
	}
}

@media (max-width: 1660px) {
	.firstButton {
		img {
			width: 29px;
			height: 29px;
		}
	}

	.secondButton {
		img {
			width: 26px;
			height: 26px;
		}
	}
}

@media (max-width: 1400px) {
	.text {
		font-size: 14px;
	}
}

@media (max-width: 1200px) {
	.text {
		font-size: 12px;
	}

	.leftMessagePanelButton:hover {
		transform: scale(1);
	}
}

@media (max-width: 500px) {
	.loadingDots {
		font-size: 18px;
	}

	.firstButton {
		img {
			width: 25px;
			height: 25px;
		}
	}

	.secondButton {
		img {
			width: 22px;
			height: 22px;
		}
	}

	.message {
		padding: 15px;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}


.buttonWithText {
	cursor: pointer;
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}