@import '../../../../app/styles/mixins';

.navbar {
	color: white;
	display: flex;
	justify-content: center;
	border-radius: 38px;
	gap: 100px;
	align-items: center;
	width: 100%;
	left: 0;
	padding: 25px 70px;
	z-index: 1000;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	background: var(--dark-14-bg);
	position: fixed;
}

.burgerMenu {
	display: none;
	flex-direction: column;
	cursor: pointer;
	gap: 4px;
	position: absolute;
	right: 20px;
	z-index: 1100;
	transition: 0.4s;
}

.mobileMenu {
	width: 100%;
	height: 100svh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	padding: 150px 20px 20px;
	z-index: 1000;
	font-size: 26px;
	opacity: 0;
	transform: translateY(-100%);
	animation: slideDown 0.5s forwards ease-in-out;
}

.arrowOpen {
	transform: rotate(180deg);
}

.arrow,
.arrowOpen {
	transition: 0.5s ease;
}

.mobileNavLink {
	font-size: inherit;
	position: relative;
	padding: 15px;

	&.active::after {
		display: none;
	}
}

.nav {
	font-weight: 700;
	display: flex;
	gap: 60px;
	font-size: 19px;
	opacity: 0;
	cursor: pointer;
	transition:
		opacity 0.5s ease,
		transform 0.5s ease;

	&.showNav {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 1200px) {
	.nav {
		display: none;
	}
}

@media (min-width: 1200px) {
	.nav {
		display: flex;
		opacity: 1;
		transform: translateY(0);
	}
}

.hideNav {
	display: none;
}

.navLink,
.mobileNavLink {
	position: relative;
	font-weight: 700;
	cursor: pointer;
	transition: color 0.4s ease-in-out;
	display: flex;

	&::after {
		@include size(0, 2.5px);
		content: '';
		position: absolute;
		left: 50%;
		bottom: -5px;
		background: var(--main-gradient);
		transition:
			width 0.4s ease-out,
			left 0.4s ease-out;
		transform: translateX(-50%);
	}

	&:hover::after {
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}

.mobileAuthButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: inherit;

	@media (max-width: 1200px) {
		font-size: inherit;
		@include size(46%, 7%);
	}

	@media (max-width: 748px) {
		@include size(60%, 8%);
	}

	@media (max-width: 1024px), (max-width: 400px) {
		height: 8%;
	}

	@media (max-width: 1024px) and (max-height: 770px), (max-width: 1280px) {
		height: 15%;
	}

	@media (max-width: 376px) and (max-height: 667px) {
		height: 15%;
	}

	@media (max-width: 950px) and (max-height: 450px) {
		height: 30%;
	}
}

.authButtons {
	display: flex;
	gap: 23px;
	position: relative;

	&::after {
		@include size(1px, 30px);
		content: '';
		position: absolute;
		top: 50%;
		left: calc(41.8% - 5px);
		background-color: #656565;
		transform: translateY(-50%);
		z-index: 1;
	}

	@media (max-width: 1200px) {
		display: none;
	}

	&.authenticated::after {
		display: none;
	}
}

.profileMenu {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 260px;
	background: var(--dark-14-bg);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 28px;
	padding: 20px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 1500;
	margin-top: 20px;
}

.profileText {
	margin-left: 0;
}

.profileMenu a,
.profileMenu div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	margin-left: 0;
	cursor: pointer;
}

.profile {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;

	&:hover .profileMenu {
		display: flex;
	}

	img {
		border-radius: 50%;
		object-fit: cover;
	}
}

.mobileButtonTitle {
	@media (max-width: 1200px) {
		font-size: 23px;
	}

	@media (max-width: 420px) {
		font-size: 16px;
	}

	@media (max-width: 370px) {
		font-size: 14px;
	}
}

.fixedBurger {
	position: fixed;
	z-index: 1200;
}

.burgerIcon {
	width: 30px;
	height: 4px;
	background-color: white;
	border-radius: 2px;
	transition: all 0.4s ease-in-out;
}

.fixedBurger .burgerIcon:nth-child(1) {
	transform: rotate(45deg) translate(6.5px, 5px);
}

.fixedBurger .burgerIcon:nth-child(2) {
	opacity: 0;
}

.fixedBurger .burgerIcon:nth-child(3) {
	transform: rotate(-45deg) translate(6.25px, -5px);
}

.lightBurgerIcon {
	background: #141516;
}

@media (max-width: 1660px) {
	.navbar {
		padding: 40px;
	}
}

@media (max-width: 1300px) {
	.navbar {
		justify-content: center;
	}
}

@media (max-width: 1200px) {
	.navbar {
		padding: 20px;
		align-items: flex-start;
	}

	.burgerMenu {
		display: flex;
		right: 5px;
		padding-right: 30px;
	}

	.navLink,
	.mobileNavLink {
		&::after {
			display: none;
		}
	}
}

@media (max-width: 1024px) {
	.navbar {
		flex-direction: column;
	}
}

@media (max-width: 512px) {
	.mobileMenu {
		font-size: 18px;
	}
}

@media (max-width: 380px) {
	.mobileMenu {
		padding: 100px 20px 20px;
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		border-radius: 38px;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
		border-radius: 38px;
	}
}
