.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 999999;
	justify-content: center;
}


.dialog {
	background: #141516;

	padding: 40px 30px;
	border-radius: 30px;
	width: 340px;
	text-align: center;
}

.lightDialog {
	background: #F8F8F9;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
.confirmButton,
.cancelButton {
	border: none;
	padding: 10px 30px;
	width: 120px;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.4s;
}


.confirmButton {
	background: red;
	color: white;

	&:hover {
		background: #990000;
	}
}

.cancelButton {
	background: var(--white-05);

	&:hover {
		background: var(--white-02);
	}
}

.lightCancelButton {
	background: white;

	&:hover {
		background: #e5e5e5;
	}
}
