.customSelect {
	position: relative;
	min-width: unset;
	width: 100%;
}

.selectDisplay {
	border: none;
	border-radius: 25px;
	font-weight: 500;
	background: var(--bg-secondary);
	cursor: pointer;
	font-size: 16px;
	height: 68px;
	display: flex;
	align-items: center;
	font-family: inherit;
	max-width: 100%;
	min-width: unset;
	width: 100%;
	transition:
		border 0.2s,
		outline 0.2s,
		background 0.3s,
		color 0.3s;
	color: var(--second-text);
	box-shadow: none;
}

.selectDisplay:focus-within,
.selectDisplay:focus,
.selectDisplay:hover {
	color: #fff;
	transition:
		background 0.25s,
		color 0.25s;
}

.selectValue {
	flex: 1;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: inherit;
	padding: 0 22px;
	height: 100%;
	display: flex;
	align-items: center;
}

.selectDisplay:empty .selectValue {
	color: #888;
}

.selectIcon {
	margin-left: 12px;
	color: #888;
	font-size: 20px;
	pointer-events: auto;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	height: 100%;
	padding-right: 18px;
}

.selectDropdown {
	position: absolute;
	top: 110%;
	left: 0;
	right: 0;
	background: var(--dark-100-bg);
	border-radius: 40px;
	z-index: 1000;
	margin-top: 2px;
	transition:
		max-height 0.25s cubic-bezier(0.4, 0, 0.2, 1),
		opacity 0.18s,
		transform 0.18s;
	overflow: hidden;
	backdrop-filter: blur(20px);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: none;
	max-height: 300px;
	overflow-y: auto;
	scrollbar-width: none;
}

.customInput {
	width: 100%;
	min-width: unset;
	padding: 0 22px;
	border-radius: 25px;
	border: none;
	background: var(--dark-20-bg);
	color: var(--second-text);
	font-size: 16px;
	height: 68px;
	outline: none;
	transition:
		border 0.2s,
		color 0.3s;
	box-sizing: border-box;
	margin-bottom: 0;
	font-family: inherit;
}

.customInput:focus,
.customInput:hover {
	color: #fff;
}

.customInputBox {
	height: 68px;
	border-radius: 25px;
	font-size: 16px;
	background: var(--dark-20-bg);
	color: var(--second-text);
}

.dropdownOption {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 12px 22px;
	border-radius: 18px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	transition: background-color 0.2s;

	&:hover {
		background: var(--dark-30-bg);
	}
}

.checkbox {
	accent-color: #ff7f2a;
	width: 18px;
	height: 18px;
	margin-right: 8px;
	border-radius: 6px;
	flex-shrink: 0;
}

.optionLabel {
	margin: 0;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.optionInput {
	margin-left: 8px;
	border-radius: 8px;
	border: 1px solid #444;
	background: #181818;
	color: #fff;
	padding: 4px 8px;
	min-width: 80px;
}

@media (max-width: 1024px) {
	.selectDisplay {
		font-size: 14px;
		border-radius: 20px;
		padding: 18px 0;
		height: auto;
	}

	.dropdownOption {
		font-size: 14px;
	}
}
