/* Анимации для CSSTransition */
.modalEnter {
	opacity: 0;
}
.modalEnterActive {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}
.modalExit {
	opacity: 1;
}
.modalExitActive {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.modalWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
  width: 100vw;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}
