.header {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	align-items: center;
}

.additionHeaderTitle {
	text-align: center;
	font-size: 30px;
}

.smallFieldsWrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	border-radius: 40px;
	background-color: var(--white-01);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;

	label {
		font-weight: bold;
		margin-left: 10px;
		margin-bottom: 10px;
		font-size: 17px;
	}

	input,
	select {
		padding: 22px;
		height: 68px;
		border-radius: 25px;
		border: none;
		display: flex;
		background: var(--dark-20-bg);
		color: var(--second-text);
		transition: 0.3s ease;

		&:hover,
		&:focus {
			color: white;
		}
	}
}

.lightTheme {
	.field input,
	.field select {
		&:focus,
		&:hover {
			color: #0d0e11;
		}
	}
}

.tabContainerWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.arrowsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: 100%;
}

@media(max-width: 1125px) {
	.arrowsContainer {
		gap: 2px;
	}

	.smallFieldsWrapper {
		padding: 10px;
	}
}

@media(max-width: 1024px) {
	.additionHeaderTitle {
		font-size: 24px;
	}
}
