.smallFieldsWrapper {
	display: flex;
	flex-wrap: wrap;
}

.lightTabContainer {
	transition: 0.3s;
	background: var(--main-bg);
}

.emailAndPasswordContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;

	select {
		padding: 22px;
		height: 68px;
		border-radius: 25px;
		border: none;
		display: flex;
		background: var(--dark-20-bg);
		color: var(--second-text);
		transition: 0.3s ease;

		&:hover,
		&:focus {
			color: white;
		}
	}
}

.email_input {
	padding: 22px;
	height: 68px;
	border-radius: 25px;
	border: none;
	display: flex;
	background: var(--dark-20-bg);
	color: var(--second-text);
	transition: 0.3s ease;

	&:hover,
	&:focus {
		color: white;
	}
}

.lightTheme {
	.field input,
	.field select {
		&:focus,
		&:hover {
			color: #0d0e11;
		}
	}
}

.frequencyField {
	max-width: 360px;
	min-width: 360px;
}

.lightFields {
	background: white;
}

.lightFieldsMeal {
	width: 100%;
}

.emailContainer {
	padding: 22px;
	height: 68px;
	border-radius: 25px;
	border: none;
	display: flex;
	background-color: var(--dark-20-bg);
	cursor: default;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	color: var(--second-text);
	transition: 0.3s ease;

	&:hover,
	&:focus {
		color: white;
	}
}

.password_input {
	background-color: transparent;
}

.lightTheme {
	.emailContainer {
		&:focus,
		&:hover {
			color: #0d0e11;
		}
	}
}

.passwordContainer {
	display: flex;
	margin-top: 40px;
}

.changeEmail {
	background: var(--white-02);
	padding: 5px 20px;
	border-radius: 30px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
}

.lightСhangeEmail {
	background: var(--main-bg);
}

/* Анимации для CSSTransition */
.modalEnter {
	opacity: 0;
}
.modalEnterActive {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}
.modalExit {
	opacity: 1;
}
.modalExitActive {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

@media (max-width: 1450px) {
	.smallFieldsWrapper {
		width: 100%;
	}

	.emailAndPasswordContainer {
		width: 100%;
	}
}

@media (max-width: 850px) {
	.frequencyField {
		max-width: 100%;
		min-width: 0;
	}
}
