.spanText {
	cursor: pointer;
	position: relative;
	display: inline-block;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -2px;
		width: 0;
		height: 2px;
		background-color: currentColor;
		transform: translateX(-50%);
		transition: width 0.3s ease;

		@media (max-width: 500px) {
			width: 100%;
		}
	}

	&:hover::after {
		width: 100%;
	}
}
