.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	color: var(--text);
	flex: 1 1 0;

	select {
		background: var(--dark-20-bg);
		color: var(--second-text);
		padding: 22px;
		border-radius: 25px;
		border: none;
		display: flex;
		font-size: 16px;
		font-weight: 500;
		width: 100%;
		transition: 0.3s ease;

		&:hover,
		&:focus {
			color: white;
		}
	}
}

@media (max-width: 1024px) {
	.field select {
		font-size: 14px;
		padding: 18px;
		border-radius: 20px;
	}
}

@media (max-width: 900px) {
	.field {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
	}
}
