.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 25;
	background: rgba(var(--bg-rgb, 0, 0, 0), 0.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.modalContent {
	background: var(--white-02);
	padding: 40px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 50px;
	box-shadow:
		0 8px 30px rgba(0, 0, 0, 0.15),
		0 12px 48px rgba(0, 0, 0, 0.25);
	width: 500px;
	max-width: 100%;
	opacity: 1;
	animation: modalFadeIn 0.3s ease-in-out forwards;
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.closing {
	transform: scale(0.95);
	opacity: 0;
}

.changePasswordTitle {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.label {
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 17px;
}

.input {
	transition: 0.6s ease;
	padding: 22px;
	height: 68px;
	border-radius: 25px;
	border: none;
	display: flex;
	font-weight: 500;
	background: var(--tab-bg-hover);
	color: var(--second-text);
	width: 100%;

	&:hover,
	&:focus {
		color: var(--text);
	}
}

.modalActions {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

	button {
		width: 48%;
	}
}

@mixin gradient-border-button {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 18px;
	border: 2px solid transparent;
	background: var(--main-gradient) border-box;
	-webkit-mask:
		linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.buttonUnpainted {
	text-decoration: none;
	font-size: inherit;
	padding: 12px 50px;
	font-weight: 700;
	background-color: transparent;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition:
		background-color 0.5s,
		transform 0.3s,
		box-shadow 0.3s;
	border-radius: 18px;

	&::before {
		@include gradient-border-button;
	}

	&:active {
		transform: scale(0.95);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		background-color: var(--orange);
	}
}

.passwordWrapper {
	display: flex;
	width: 100%;
	position: relative;
}

.eyeButton {
	position: absolute;
	right: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 24px; /* Фиксированная высота кнопки */

	@media (max-width: 333px) {
		margin-top: 12px;
	}
}

.eyeIcon {
	width: 24px; /* Фиксированная ширина иконки */
	height: 24px; /* Фиксированная высота иконки */
	transition: transform 0.5s ease; /* Плавное увеличение */
}

.eyeButton:hover .eyeIcon {
	transform: scale(1.1); /* Увеличение иконки */
}

.error {
	color: #ff5555;
	font-size: 14px;
	font-weight: bold;
	margin-top: 4px;
}

.buttonShaded {
	display: flex;
	gap: 40px;
	border-radius: 18px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	font-size: inherit;
	padding: 12px 50px;
	justify-content: center;
	font-weight: 700;
	background-color: var(--orange);
	transition:
		background-color 0.5s,
		transform 0.3s,
		box-shadow 0.3s;

	&::before {
		@include gradient-border-button;
	}

	&:active {
		transform: scale(0.95);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		background-color: transparent;
	}
}
