.customSelect {
  position: relative;
  min-width: unset;
  width: 100%;
}

.selectDisplay {
  border: none;
  border-radius: 25px;
  padding: 0;
  background: var(--dark-20-bg);
  cursor: pointer;
  font-size: 16px;
  height: 68px;
  display: flex;
  align-items: center;
  font-family: inherit;
  max-width: 100%;
  min-width: unset;
  width: 100%;
  transition: border 0.2s, outline 0.2s, background 0.3s, color 0.3s;
  color: var(--second-text);
  box-shadow: none;
}

.selectDisplay:focus-within, .selectDisplay:focus, .selectDisplay:hover {
  color: #fff;
  background: #232323;
  transition: background 0.25s, color 0.25s;
}

.selectValue {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
  padding: 0 22px;
  height: 100%;
  display: flex;
  align-items: center;
}

.selectDisplay:empty .selectValue {
  color: #888;
}

.selectIcon {
  margin-left: 12px;
  color: #888;
  font-size: 20px;
  pointer-events: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  padding-right: 18px;
}

.selectDropdown {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: #181818;
  border: 1px solid #444;
  border-radius: 25px;
  z-index: 1000;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  padding: 4px 0;
  margin-top: 2px;
  transition: max-height 0.25s cubic-bezier(.4,0,.2,1), opacity 0.18s, transform 0.18s;
  overflow: hidden;
  filter: none;
  backdrop-filter: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
}

.selectOption {
  padding: 20px 22px;
  cursor: pointer;
  background: transparent;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 2px;
  transition: background 0.18s, color 0.18s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
}

.selectOption:hover,
.selected {
  background: #232323;
  color: #fff;
  transition: background 0.18s, color 0.18s;
}

.customInput {
  width: 100%;
  min-width: unset;
  padding: 0 22px;
  border-radius: 25px;
  border: none;
  background: var(--dark-20-bg);
  color: var(--second-text);
  font-size: 16px;
  height: 68px;
  outline: none;
  transition: border 0.2s, color 0.3s;
  box-sizing: border-box;
  margin-bottom: 0;
  font-family: inherit;
}

.customInput:focus, .customInput:hover {
  color: #fff;
}

.selectBackButton, .selectSubmitButton {
  padding: 7px 16px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background: #232323;
  color: #fff;
  transition: background 0.18s, color 0.18s;
}

.selectBackButton:hover {
  background: #181818;
  color: #ff7f2a;
}

.selectSubmitButton {
  background: #ff7f2a;
  color: #fff;
}

.selectSubmitButton:disabled {
  background: #444;
  color: #aaa;
  cursor: not-allowed;
} 