.form {
	flex: 1;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
}

.mainFields,
.compactFields {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	margin-bottom: 20px;
	background-color: var(--white-01);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}

.mainFields {
	margin-top: 40px;
	background-color: none;
	box-shadow: none;
	padding: 0;
}

.compactFields {
	gap: 20px;
	width: 100%;
}

.lightCompactFields {
	transition: 0.3s;
	background: var(--main-bg) !important;
}

.wideFields {
	display: flex;
	gap: 20px;
	width: 100%;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.mainFields {
		padding: 0;
	}
}
