.form {
	padding-bottom: 300px;

	@media (max-width: 1024px) {
		padding-bottom: 250px;
	}

	@media (max-width: 640px) {
		padding-bottom: 200px;
	}

	flex: 1;
	width: 100%;
	overflow-x: hidden; // Убираем горизонтальный скролл
	max-width: 100%;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	overflow-x: hidden; // Убираем горизонтальный скролл
	max-width: 100%;
	box-sizing: border-box;
}

.mainFields,
.compactFields {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	margin-bottom: 20px;
	background-color: var(--white-01);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}

.mainFields {
	margin-top: 40px;
	background-color: none;
	box-shadow: none;
	padding: 0;
}

.compactFields {
	gap: 20px;
	width: auto;
}

.lightCompactFields {
	transition: 0.3s;
	background: var(--main-bg) !important;
}

.wideFields {
	display: flex;
	gap: 20px;
	width: auto;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.mainFields {
		padding: 0;
	}
}