.container {
	text-align: left;
	width: 100%;
	padding: 24px;
	background: var(--white-02);
	border-radius: 50px;

	  @media (max-width: 600px) {
		background: none;
		padding: 0;
	}
}

.title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	color: var(--text);
}

.ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listItem {
	display: flex;
	align-items: flex-start; // Выравнивание по верхнему краю
	padding: 8px 0;
	font-size: 16px;
	color: var(--text);
	font-weight: 600;
	transition: color 0.2s;
}

.listItem > :first-child {
	flex-shrink: 0;
}

.checked span {
	color: #888;
	text-decoration: line-through; // Зачеркивание только текста
}
