.container {
	text-align: left;
	width: 100%;
	padding: 24px;
	background: var(--white-02);
	border-radius: 50px;

	:global(.light-theme) & {
		background: #e8e8e8 !important;
		/* Lighter gray background */
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
	}
}

.title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
	color: var(--orange);
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.5px;

	@media (max-width: 500px) {
		font-size: 20px;
	}
}

.ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listItem {
	display: flex;
	align-items: flex-start; // Выравнивание по верхнему краю
	padding: 8px 0;
	font-size: 16px;
	color: var(--text);
	font-weight: 600;
	transition: color 0.2s;
}

.listItem> :first-child {
	flex-shrink: 0;
}

.checked span {
	color: #888;
	text-decoration: line-through; // Зачеркивание только текста
}