@import '../chat/mixins';

@keyframes settingsAnimation {
	from {
		opacity: 0;
		transform: translate(125px, -30px);
	}

	to {
		opacity: 1;
		transform: translate(125px, 0);
	}
}

.settingsWrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	background: var(--white-02);
	border-radius: 50px;
	padding: 40px;
	width: 80%;
	max-width: none;
	height: auto;
	margin: 36px auto 100px;
	animation: settingsAnimation 0.7s ease;
	transform: translateX(125px);
	overflow-x: hidden; // Убираем горизонтальный скролл

	@media (max-width: 1660px) {
		width: 82%;
	}

	@media (max-width: 1200px) {
		width: 75%;
	}

	@media (max-width: 1100px) {
		width: 36%;
	}

	@media (max-width: 500px) {
		width: 100%;
		padding: 26px;
		border-radius: 0;
	}

	@media (max-width: 400px) {
		padding: 24px;
	}
}

.contentWrapper {
	width: 100%;
	overflow-x: hidden; // Убираем горизонтальный скролл
	max-width: 100%;
	box-sizing: border-box;
}

.header {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	align-items: center;

	@media (max-width: 1660px) {
		margin-bottom: 60px;
	}

	@media (max-width: 1200px) {
		margin-bottom: 30px;
	}

	@media (max-width: 500px) {
		margin-bottom: 110px;
	}
}

.topButtonWrapper {
	position: absolute;
	right: 50px;
	display: flex;
	gap: 20px;
	align-items: center;

	@media (max-width: 1100px) {
		right: 20px;
	}

	@media (max-width: 500px) {
		flex-direction: column;
		left: 0;
		right: 0;
		margin-top: 230px;
	}
}

.headerTitle {
	@media (max-width: 1050px) {
		margin-right: 100px;
	}

	@media (max-width: 900px) {
		margin-right: 430px;
	}

	@media (max-width: 500px) {
		margin-right: 0;
	}
}

.additionHeader {
	margin-top: 40px;

	@media (max-width: 1200px) {
		margin-bottom: 30px !important;
	}
}

.additionHeaderTitle {
	text-align: center;
	margin-right: 0;
}

.form {
	display: flex;
	flex-direction: column;
}

.smallFieldsWrapper {
	margin-top: 40px;

	.firstFields {
		margin-top: 40px;
	}

	.form {
		margin-top: 40px;
	}
}

.smallFieldsWrapper,
.firstFields {
	display: flex;
	flex-wrap: wrap;
	gap: 0;

	@media (max-width: 900px) {
		display: block;
	}
}

.emailAndPasswordWrapper {
	margin-bottom: 0 !important;

	@media (max-width: 500px) {
		margin-bottom: 110px !important;
	}
}

.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media (max-width: 900px) {
		margin-top: 20px;
	}

	@media (max-width: 400px) {
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.form {
		flex-direction: column;
		align-items: center;
	}
}

.bigFieldsWrapper {
	display: flex;
	gap: 20px;
	width: 100%;
	flex-wrap: wrap;
}

.bigField {
	flex: 1 1 0;
	min-width: 450px;
	max-width: 683px;
	margin-right: 0;
	box-sizing: border-box;

	@media (max-width: 900px) {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
	}
}

.field label {
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 17px;
}

.field input,
.field select,
.emailContainer {
	transition: 0.6s ease;
	padding: 22px;
	height: 68px;
	border-radius: 25px;
	border: none;
	display: flex;
	background: var(--dark-20-bg);

	@media (max-width: 500px) {
		font-size: 13px;
	}
}

.emailContainer {
	cursor: default;
	justify-content: space-between;
	width: 400px;
	align-items: center;

	@media (max-width: 500px) {
		width: 100%;
	}
}

.changeEmail {
	background: var(--white-02);
	padding: 5px 20px;
	border-radius: 30px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
}

.lightСhangeEmail {
	background: var(--main-bg);
}

.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 25;
	background: rgba(var(--bg-rgb, 0, 0, 0), 0.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.lightModalBackdrop {
	background: none;
}

.modalContent {
	background: var(--white-02);
	padding: 40px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 50px;
	box-shadow:
		0 8px 30px rgba(0, 0, 0, 0.15),
		0 12px 48px rgba(0, 0, 0, 0.25);
	width: 500px;
	max-width: 100%;
	opacity: 1;
	animation: modalFadeIn 0.3s ease-in-out forwards;
	transition: transform 0.3s ease, opacity 0.3s ease;

	&.closing {
		animation: modalFadeOut 0.3s ease-in-out forwards;
	}

	@media (max-width: 500px) {
		width: auto;
		max-width: 95%;
	}
}

.modalContent.closing {
  transform: scale(0.95);
  opacity: 0;
}

.closing {
	animation: modalFadeOut 0.3s ease-in-out forwards;
}

@keyframes modalFadeIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes modalFadeOut {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.8);
	}
}

.modalActions {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.modalActions button {
	width: 48%;
}

.field .textBox {
	padding: 20px;
	border-radius: 30px;
	background: var(--dark-20-bg);
	height: 100%;
}

.field input,
.field select,
.field .textBox,
.emailContainer {
	color: var(--second-text);

	&:hover,
	&:focus {
		color: white;
	}
}

.lightTheme {
	.field input,
	.field select,
	.field .textBox,
	.emailContainer {
		&:focus,
		&:hover {
			color: #0d0e11;
		}
	}
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 30px;
}

.frequencyField {
	max-width: 360px;
	min-width: 360px;

	@media (max-width: 1500px) {
		margin-top: 30px;
	}

	@media (max-width: 420px) {
		min-width: 0;
	}
}

.passwordContainer {
	display: flex;
	margin-top: 40px;
}

.changePasswordTitle {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.button {
	font-size: 16px !important;
	scale: 1 !important;
}

.button button {
	width: 100%;
}

.bigField,
.field,
.smallField {
	@media (max-width: 1200px) {
		width: 100%;
		max-width: 500px;
	}

	@media (max-width: 500px) {
		max-width: none;
	}
}

.avatarContainer {
	background: var(--white-02);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px 30px;
	border-radius: 40px;
	margin-left: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

	@media (max-width: 1100px) {
		margin-left: 0;
		min-height: 267px !important;
		padding: 33px 30px !important;
	}

	@media (max-width: 500px) {
		margin-top: 100px;
		min-height: 177px !important;
		padding: 13px 30px !important;
	}
}

.avatarLabel {
	width: 90px;
	height: 90px;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: var(--white-02);
	transition:
		background 0.3s ease,
		transform 0.3s ease;

	&:hover {
		.avatar,
		.defaultAvatarIcon {
			transform: scale(1.05);
			opacity: 0.9;
		}
	}

	@media (max-width: 1100px) {
		width: 130px;
		height: 130px;
	}
}

.defaultAvatarWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.defaultAvatarIcon {
	width: 25px;
	height: 25px;
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;
}

.avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;
}

.avatarInput {
	display: none;
}

.formFieldsWrapper {
	flex: 1;
}

.nameField {
	margin-top: 6px;
}

.profileName {
	font-size: 18px;
	font-weight: bold;
	max-width: 149px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@media (max-width: 1100px) {
		font-size: 21px;
	}

	@media (max-width: 900px) {
		font-size: 19px;
	}
}

.nameContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.bigFieldContainer {
	@media (max-width: 500px) {
		margin-left: 0;
	}
}

.emailAndPasswordContainer {
	display: flex;
	gap: 40px;

	@media (max-width: 900px) {
		display: block;
	}
}

.smallFieldsWrapper,
.firstFields {
	padding: 20px;
	margin-bottom: 20px;
	background-color: var(--white-01);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

	@media (min-width: 2000px) {
		margin-bottom: 30px;
	}
}

.avatarAndFieldsWrapper {
	display: flex;
	gap: 40px;
	align-items: stretch;
	margin-top: 40px;

	@media (max-width: 900px) {
		gap: 30px;
	}

	@media (max-width: 500px) {
		align-items: center;
		flex-direction: column;
	}
}

.avatarContainer {
	background: var(--white-02);
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 13px 30px;
}

.smallFieldsWrapper,
.firstFields,
.avatarContainer {
	border-radius: 40px;
}

.firstFields {
	margin-top: 40px;

	@media (max-width: 1100px) {
		gap: 20px;
	}
}

.firstFields,
.preferencesAndRestrictionsFields,
.fourFields {
	@media (max-width: 500px) {
		width: 90svw;
	}
}

.modalTitles {
	margin-top: 30px;
}

.lightFields {
	background: white !important;
}

.settingsWrapper {
	transition: 0.7s ease;
}

.blurredContent {
	filter: blur(20px);
}

.changeNameTitle {
	margin-bottom: 20px;
}

.inputWrapper {
	display: flex;
	align-items: center;
	position: relative;
}

.inputWrapper input {
	flex: 1;
	padding-right: 50px;

	&:focus + .unitLabel {
		color: white;
	}
}

.unitLabel {
	position: absolute;
	right: 20px;
	font-size: 15px;
	color: #666666;
	pointer-events: none;
}

.field input,
.field select,
.field .textBox,
.unitLabel {
	transition: 0.3s;
}

.preferencesAndRestrictionsFields,
.fourFields {
	gap: 20px;
}

.additionSettings {
	width: 100%;
}

.lightTabContainer {
	background: white !important;
}

.tab {
	@media (max-width: 420px) {
		padding: 15px 18px !important;
	}
}

.additionSmallField {
	margin-right: 0;
}

.birthdateField {
	margin-right: 20px;
}

.errorMessage {
	color: red;
	margin-top: 10px;
	text-align: center;
	font-weight: 500;

	@media (max-width: 333px) {
		font-size: 14px;
	}
}

.additionFields {
	margin-top: 30px;
	margin-bottom: 0;

	@media (max-width: 500px) {
		width: 100%;
	}
}

.additionInputWrapper {
	input {
		padding: 22px;
	}
}

.preferFields {
	display: flex;
	flex-direction: column;

	input {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.additionSmallFieldsWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
}

.mainInfoWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--main-bg);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	padding: 13px 30px;
	min-height: 100%;
	width: 100%;
}

.lightFieldsMeal {
	width: 100%;
}

.fieldCustom {
	width: 100%;
}
