@import './styles/mixins';

.container {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.image {
  margin-bottom: 30px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;

  @media (max-width: 380px) {
    font-size: 1.8rem;
  }

  @media (max-width: 333px) {
    font-size: 1.5rem;

  }
}

.message {
  font-size: 1.2rem;
  color: var(--grey-text);
  margin-bottom: 20px;

  @media (max-width: 380px) {
    font-size: 1.1rem;
  }

  @media (max-width: 333px) {
    font-size: 1rem;
  }
}

.links {
  font-size: 1rem;
}

.link {
  @include main-gradient-text;
  text-decoration: none;
  font-weight: bold;

  @media (max-width: 333px) {
    font-size: 0.9rem;
  }

  &:hover {
   @include reverse-main-gradient-text;
  }
}
