.featuresSection {
	color: var(--text);
	padding: 80px 15px 15px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.featuresContainer {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 600px));
	gap: 16px;
	justify-items: center;
	margin-top: 60px;
}

.button {
	margin-top: 20px;
}

.imageWrapper {
	width: 100%;
	height: auto;
}

.featureCard {
	background: var(--tab-bg);
	border-radius: 28px;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 24px;
	width: 100%;
	max-width: 600px;

	h3 {
		font-weight: 500;
		font-size: 26px;
		margin: 10px 0;
	}

	p {
		font-size: 16px;
		color: var(--second-text);
	}

	img {
		width: 100%;
		height: auto;
		border-radius: 24px;
		display: block;
	}
}

@media (max-width: 768px) {
	.featuresContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
}