.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	background: rgba(var(--bg-rgb, 0, 0, 0), 0.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.modalContent {
	background: var(--bg);
	padding: 40px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 30px;
	box-shadow:
		0 8px 30px rgba(0, 0, 0, 0.15),
		0 12px 48px rgba(0, 0, 0, 0.25);
	width: 450px;
	max-width: 90%;
	position: relative;
	animation: modalFadeIn 0.3s ease-in-out forwards;
}

.closeButton {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: transparent;
	color: var(--text);
	border: none;
	cursor: pointer;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.2s;

	&:hover {
		color: var(--orange);
	}
}

.iconWrapper {
	margin-bottom: 20px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: var(--text);
}

.text {
	font-size: 16px;
	color: var(--second-text);
	margin-bottom: 30px;
}

.modalActions {
	display: flex;
	justify-content: center;
	width: 100%;
}

@mixin gradient-border-button {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 18px;
	border: 2px solid transparent;
	background: var(--main-gradient) border-box;
	-webkit-mask:
		linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.buttonShaded {
	display: flex;
	width: 100%;
	border-radius: 18px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	padding: 14px;
	justify-content: center;
	font-weight: 600;
	background-color: var(--orange);
	color: white;
	transition:
		background-color 0.3s,
		transform 0.2s;
	border: none;

	&:active {
		transform: scale(0.98);
	}

	&:hover {
		opacity: 0.9;
	}
}

@keyframes modalFadeIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
