.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 25;
	background: rgba(var(--bg-rgb, 0, 0, 0), 0.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.modalContent {
	background: var(--white-02);
	padding: 40px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 50px;
	box-shadow:
		0 8px 30px rgba(0, 0, 0, 0.15),
		0 12px 48px rgba(0, 0, 0, 0.25);
	width: 500px;
	max-width: 100%;
	opacity: 1;
	animation: modalFadeIn 0.3s ease-in-out forwards;
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.closing {
	transform: scale(0.95);
	opacity: 0;
}

@mixin gradient-border-button {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 18px;
	border: 2px solid transparent;
	background: var(--main-gradient) border-box;
	-webkit-mask:
		linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.buttonShaded {
	display: flex;
	gap: 40px;
	width: 100%;
	border-radius: 18px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	font-size: inherit;
	padding: 12px 50px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	background-color: var(--orange);
	color: var(--text-invert);
	transition:
		background-color 0.5s,
		transform 0.3s,
		box-shadow 0.3s,
		color 0.3s;

	&::before {
		@include gradient-border-button;
	}

	&:active {
		transform: scale(0.95);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		background-color: transparent;
		color: var(--text);
	}
}
